body {
	background-color: #D3D6CB;
}

div#mainpage {
	background-color: #E7E7D5;
	width: 412px;
}

div#mainimage {
	background-color: #D9D9B7;
}

div#header {
	height: 100px;
	background-color: #666666;
	line-height: 100px;
	padding-left: 20px;
}

h1 { font-family: sans-serif; }

p, li {
	font-family: "Verdana", sans-serif;
	font-size: 8pt;
}

ul.mainlist {
	margin: 0px;
	padding: 0px;
	height: 1.5em;
	line-height: 1.5em;
}
